* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222222;
}

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.game--board {
  position: relative;
  width: 600px;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding: 25px;
  border-radius: 18px;
  background-color: #FFFFFF;
}

.game--board .game--info {
  width: 500px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game--board .game--info p {
  font-size: 20px;
  font-family: Roboto, sans-serif;
  text-align: center;

  color: rgba(51, 51, 51, .85);
}

.game {
  width: 500px;
  height: 500px;

  display: grid;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
  border: 1px solid #DEDEDE;
}

.food {
  width: 15px;
  height: 15px;

  align-self: center;
  justify-self: center;

  border-radius: 100%;
  background-color: #FFA43A;
}

.player {
  background-color: #75C7FF;
}

.gameover--message {
  position: absolute;

  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 15px;

  border-radius: 18px;
  background-color: rgba(51, 51, 51, .9);
}

.gameover--message .gameover--info {
  font-family: Inter, sans-serif;
  text-align: center;

  color: #FFFFFF;
}

.gameover--message .gameover--title {
  font-size: 36px;
}

.gameover--message p {
  font-size: 17px;
  color: rgba(255, 255, 255, .8)
}

.gameover--message .gameover--button {
  display: block;
  width: 100%;

  cursor: pointer;

  text-transform: uppercase;
  font-weight: bold;

  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: #FFFFFF;
}

.gameover--button:hover {
  background-color: #F2F2F2;
}
